USE [master]
GO
/****** Object:  Database [DM]    Script Date: 13/10/2024 04:01:59 ******/
CREATE DATABASE [DM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DM_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DM]
GO
/****** Object:  User [usuario]    Script Date: 13/10/2024 04:02:00 ******/
CREATE USER [usuario] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [t_azure]    Script Date: 13/10/2024 04:02:00 ******/
CREATE USER [t_azure] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 13/10/2024 04:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[FechaSK] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Anio] [smallint] NOT NULL,
	[Semestre] [smallint] NOT NULL,
	[Trimestre] [smallint] NOT NULL,
	[Mes] [smallint] NOT NULL,
	[Semana] [smallint] NOT NULL,
	[Dia] [smallint] NOT NULL,
	[DiaSemana] [smallint] NOT NULL,
	[NSemestre] [char](7) NOT NULL,
	[NTrimestre] [char](7) NOT NULL,
	[NMes] [char](15) NOT NULL,
	[NMes3L] [char](6) NOT NULL,
	[NSemana] [char](10) NOT NULL,
	[NDia] [char](6) NOT NULL,
	[NDiaSemana] [char](10) NOT NULL,
 CONSTRAINT [PK_DIM_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTVOLUMENAMEMEDIA]    Script Date: 13/10/2024 04:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTVOLUMENAMEMEDIA](
	[Name] [nvarchar](50) NULL,
	[media_open] [float] NULL,
	[media_close] [float] NULL,
	[media_high] [float] NULL,
	[media_low] [float] NULL,
	[year_week] [numeric](18, 0) NULL,
	[volume] [float] NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTVOLUMENAMEMEDIA] ADD  CONSTRAINT [DF_FACTVOLUMENAMEMEDIA_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
