USE [master]
GO
/****** Object:  Database [Staging]    Script Date: 13/10/2024 03:57:22 ******/
CREATE DATABASE [Staging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Staging', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Staging.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Staging_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Staging_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Staging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Staging]
GO
/****** Object:  User [usuario]    Script Date: 13/10/2024 03:57:22 ******/
CREATE USER [usuario] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [t_azure]    Script Date: 13/10/2024 03:57:22 ******/
CREATE USER [t_azure] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Datos]    Script Date: 13/10/2024 03:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos](
	[date] [date] NULL,
	[open] [float] NULL,
	[high] [float] NULL,
	[low] [float] NULL,
	[close] [float] NULL,
	[volume] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Datos] ADD  CONSTRAINT [DF_Datos_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
